<div class="hidden">
    <input type="text" name="entity" value="companhia"/>
    <% if (key && key_value) { %>
        <input type="text" name="key" value="<%= key %>"/>
        <input type="text" name="key_value" value="<%= key_value %>"/>
    <% } %>
</div>
<div class="item">
    <p>Nome</p>
    <input class="hidden" type="text" name="type_nome" value="string"/>
    <% if( action === 'add') { %>
        <input type="text" name="nome" required/>
    <% } else { %>
        <input type="text" name="nome" value="<%= row['nome'] %>" required/>
    <% } %>
</div>
<div class="item">
    <p>CNPJ (xx.xxx.xxx/xxxx-xx)</p>
    <input class="hidden" type="text" name="type_cnpj" value="string"/>
    <% if( action === 'add') { %>
        <input type="text" name="cnpj" pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}" maxlength="18" required/>
    <% } else { %>
        <input type="text" name="cnpj" pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}" maxlength="18" value="<%= row['cnpj'] %>" disabled required/>
    <% } %>
</div>
<div class="item">
    <p>País de Origem</p>
    <input class="hidden" type="text" name="type_paisorigem" value="string"/>
    <select name="paisorigem" required>
        <% if( action === 'add') { %>
            <option disabled selected>Selecione Origem</option>
            <% for (country of countries) { %>
                <option value="<%= country %>"> <%= country %> </option>
            <% } %>
        <% } else { %>
            <option disabled>Selecione Origem</option>
            <% for (country of countries) { %>
                <% if(country == row['paisorigem']) { %>
                    <option selected value="<%= country %>"> <%= country %> </option>
                <% } else { %>
                    <option value="<%= country %>"> <%= country %> </option>
                <% } %>
            <% } %>
        <% } %>
    </select>
</div>
<div class="item">
    <p>Descrição</p>
    <input class="hidden" type="text" name="type_descricao" value="string"/>
    <% if( action === 'add') { %>
        <input type="text" name="descricao"/>
    <% } else { %>
        <input type="text" name="descricao" value="<%= row['descricao'] %>"/>
    <% } %>
</div>