<div class="hidden">
    <input type="text" name="entity" value="passageiro"/>
</div>
<div>
    <div class="item">
        <p>Nome</p>
        <input class="hidden" type="text" name="type_nome" value="string"/>
        <% if( action === 'add') { %>
            <input type="text" name="nome" required/>
        <% } else { %>
            <input type="text" name="nome" value=<%= passageiro.nome %> required/>
        <% } %>
    </div>
    <div class="item">
        <p>CPF (xxx.xxx.xxx-xx)</p>
        <input class="hidden" type="text" name="type_cpf" value="string"/>
        <% if( action === 'add') { %>
            <input type="text" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" maxlength="14" required/>
        <% } else { %>
            <input type="text" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" maxlength="14" value=<%= passageiro.cpf %>required/>
        <% } %>
    </div>
    <div class="item">
        <p>RG (xx.xxx.xxx-x)</p>
        <input class="hidden" type="text" name="type_rg" value="string"/>
        <% if( action === 'add') { %>
            <input type="text" name="rg" pattern="\d{2}\.\d{3}\.\d{3}-\d{1}" maxlength="12" required/>
        <% } else { %>
            <input type="text" name="rg" pattern="\d{2}\.\d{3}\.\d{3}-\d{1}" maxlength="12" value=<%= passageiro.rg %>required/>
        <% } %>
    </div>
</div>
<div class="item">
    <p>Telefone</p>
    <input class="hidden" type="text" name="type_telefone" value="string"/>
    <% if( action === 'add') { %>
        <input type="text" name="telefone" required/>
    <% } else { %>
        <input type="text" name="telfone" value=<%= passageiro.telefone %>required/>
    <% } %>
</div>
<div class="item">
    <p>Email</p>
    <input class="hidden" type="text" name="type_email" value="string"/>
    <% if( action === 'add') { %>
        <input type="text" name="email" required/>
    <% } else { %>
        <input type="text" name="email" value=<%= passageiro.email %>required/>
    <% } %>
</div>
