<div class="hidden">
    <input type="text" name="entity" value="voo"/>
    <% if (key && key_value) { %>
        <input type="text" name="key" value="<%= key %>"/>
        <input type="text" name="key_value" value="<%= key_value %>"/>
    <% } %>
</div>
<div class="item">
    <p>Partida</p>
    <input class="hidden" type="text" name="type_partida" value="timestamp"/>
    <% if( action === 'add') { %>
        <input type="datetime-local" name="partida" required/>
    <% } else { %>
        <input type="datetime-local" name="partida" value=<%= row['partida'] %>required/>
    <% } %>
</div>
<div class="item">
    <p>Chegada</p>
    <input class="hidden" type="text" name="type_chegada" value="timestamp"/>
    <% if( action === 'add') { %>
        <input type="datetime-local" name="chegada" required/>
    <% } else { %>
        <input type="datetime-local" name="chegada" value=<%= row['chegada'] %>required/>
    <% } %>
</div>
<div class="item">
    <p>Local de Partida</p>
    <input class="hidden" type="text" name="type_localpartida" value="string"/>
    <% if( action === 'add') { %>
        <select name="localpartida" required>
            <option disabled selected>Selecione Partida</option>
            <% for (airport of airports) { %>
                <option value="<%= airport %>"> <%= airport %> </option>
            <% } %>
        </select>
    <% } else { %>
        <input type="select" name="localpartida" value=<%= row['localPartida'] %>required/>
    <% } %>
</div>
<div class="item">
    <p>Local de Chegada</p>
    <input class="hidden" type="text" name="type_localchegada" value="string"/>
    <% if( action === 'add') { %>
        <select name="localchegada" required>
            <option disabled selected>Selecione Chegada</option>
            <% for (airport of airports) { %>
                <option value="<%= airport %>"> <%= airport %> </option>
            <% } %>
        </select>
    <% } else { %>
        <input type="select" name="localchegada" value=<%= row['localChegada'] %>required/>
    <% } %>
</div>
<div class="item">
    <p>Companhia</p>
    <input class="hidden" type="text" name="type_companhiacnpj" value="string"/>
    <% if( action === 'add') { %>
        <select type="number" name="companhiacnpj" required>
            <option disabled selected>Selecione Companhia</option>
            <% for (companhia of companhias) { %>
                <option value="<%= companhia['cnpj'] %>"> <%= `${companhia['nome']} | ${companhia['cnpj']}` %> </option>
            <% } %>
        </select>
    <% } else { %>
        <input type="number" name="companhiacnpj" value=<%= row['companhiacnpj'] %>required/>
    <% } %>
</div>
<div class="item">
    <p>Avião utilizado</p>
    <input class="hidden" type="text" name="type_aviaoid" value="int"/>
    <!-- TODO -->
    <select name="aviaoid" required>
        <option disabled selected>Selecione Aviao</option>
        <% for (aviao of avioes) { %>
            <option value="<%= aviao['id'] %>"> <%= `${aviao['id']} | ${aviao['modelo']}` %> </option>
        <% } %>
      </select>
</div>
<div class="item">
    <p>Portão utilizado</p>
    <input class="hidden" type="text" name="type_portaoid" value="int"/>
    <select name="portaoid" required>
        <option disabled selected>Selecione Portao</option>
        <% for (portao of portoes) { %>
            <option value="<%= portao['id'] %>"> <%= portao['id'] %> </option>
        <% } %>
      </select>
</div>