<div class="item">
    <p>Partida</p>
    <% if( action === 'add') { %>
        <input type="date" name="dataPartida" required/>
    <% } else { %>
        <input type="date" name="dataPartida" value=<%= voo.dataPartida %>required/>
    <% } %>
    <i class="fas fa-calendar-alt"></i>
</div>
<div class="item">
    <p>Chegada</p>
    <% if( action === 'add') { %>
        <input type="date" name="dataChegada" required/>
    <% } else { %>
        <input type="date" name="dataChegada" value=<%= voo.dataChegada %>required/>
    <% } %>
    <i class="fas fa-calendar-alt"></i>
</div>
<div class="item">
    <p>Local de Partida</p>
    <% if( action === 'add') { %>
        <input type="number" name="localPartida" required/>
    <% } else { %>
        <input type="number" name="localPartida" value=<%= voo.localPartida %>required/>
    <% } %>
</div>
<div class="item">
    <p>Local de Chegada</p>
    <% if( action === 'add') { %>
        <input type="number" name="localChegada" required/>
    <% } else { %>
        <input type="number" name="localChegada" value=<%= voo.localChegada %>required/>
    <% } %>
</div>
<div class="item">
    <p>CNPJ Companhia</p>
    <% if( action === 'add') { %>
        <input type="number" name="cnpjCompanhia" required/>
    <% } else { %>
        <input type="number" name="cnpjCompanhia" value=<%= voo.cnpjCompanhia %>required/>
    <% } %>
</div>
<div class="item">
    <p>Avião utilizado</p>
    <!-- TODO -->
    <select required>
        <option value="">Selecione Avião</option>
        <option value="1">Avião 1</option>
        <option value="1">Avião 2</option>
        <option value="1">Avião 3</option>
        <option value="1">Avião 4</option>
      </select>
</div>
<div class="item">
    <p>Portão utilizado</p>
    <!-- TODO -->
    <select required>
        <option value="">Selecione Portão</option>
        <option value="1">Portão 1</option>
        <option value="1">Portão 2</option>
        <option value="1">Portão 3</option>
        <option value="1">Portão 4</option>
      </select>
</div>
<div class="item">
    <p>Companhia</p>
    <!-- TODO -->
    <select required>
        <option value="">Selecione Companhia</option>
        <option value="1">Companhia 1</option>
        <option value="1">Companhia 2</option>
        <option value="1">Companhia 3</option>
        <option value="1">Companhia 4</option>
      </select>
</div>